<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <script type="text/javascript" src="js/jquery-1.8.0.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/bootstrap.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/angular-1.0.1.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/application.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <title>Hello world</title>
</head>
<body>
<div class="container" ng-controller="IdentityCtrl">
    <div class="navbar">
        <div class="navbar-inner">
            <form class="navbar-search pull-left" ng-submit="findIdentity()">
                <input type="text" class="search-query" placeholder="CPR" ng-model="identityCpr">
            </form>
        </div>
    </div>
    <div id="identity" class="row" style="display: none;">
        <div class="span12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Allergi</th>
                    <th>Reaktion</th>
                    <th>Alvorlighedsgrad</th>
                    <th>Reaktionshyppighed</th>
                    <th>Omr&aring;de</th>
                    <th>Advarsel</th>
                    <th>...</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="registration in identity.caveRegistrations">
                    <td>{{registration.allergy.term}}</td>
                    <td>{{registration.reaction}}</td>
                    <td>{{registration.grade}}</td>
                    <td>{{registration.reactionFrequency}}</td>
                    <td>{{registration.area}}</td>
                    <td>{{registration.warning}}</td>
                    <td><a ng-click="selectRegistration(registration)"><i class="icon-edit"></i></a></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
    <div id="conceptBrowser" class="row" style="display: none;">
        <div class="span9">
            <form class="well form-search" ng-submit="findConcept()">
                <input type="text" ng-model="drugQuery" placeholder="Find drug" class="input-medium search-query" typeahead/>
                <input class="btn" type="submit" value="Search"/>
            </form>

            <div concept="concept" ng-show="concept"></div>
        </div>
        <div class="span3">
            <div class="well well-small">{{selectedRegistration.reaction}}</div>
            <div class="well well-small">{{selectedRegistration.grade}}</div>
            <div class="well well-small">{{selectedRegistration.reactionFrequency}}</div>
            <div class="well well-small">{{selectedRegistration.area}}</div>
            <div class="well well-small">
                <label class="checkbox">
                    <input type="checkbox" ng-model="selectedRegistration.warning"/>
                    Advarsel
                </label>
            </div>
        </div>
    </div>


</div>
</body>
</html>