<!DOCTYPE html>
<html ng-app>
<head>
    <script type="text/javascript" src="js/angular-1.0.1.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <title>Hello world</title>
</head>
<body>
<div class="container">
    <div ng-controller="ConceptCtrl">
        <form class="well form-search" ng-submit="findConcept()">
            <input type="text" ng-model="conceptName" placeholder="Concept name" class="input-medium search-query"/>
            <input class="btn" type="submit" value="Search"/>
        </form>

        <div>
            <span>{{concept.name}}</span>
            <ul>
                <li ng-repeat="c in concept.childs">{{c}}</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>